.loader {
    background-color: #ff0;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 6px double #ff0; */
    box-shadow: 0px 0px 50px 15px #Fd0;
    animation: scale 1s infinite linear;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
    25% {
        transform: scale(0.8);
        box-shadow: 15px 0px 50px 15px #fd9;
    }
    50% {
        box-shadow: 0px 15px 50px 15px #fd0;
    }
    75% {
        box-shadow: -15px 0px 50px 15px #fd9;
    }
}